<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/MousumiGhosh/Desktop/EshopTestSuite/eShopOnWeb/tests/QATestSuite/QATestSuite/src/test/java/eshop/TestAutomation/Test/CatalogPageTest.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="C:/Users/MousumiGhosh/Desktop/EshopTestSuite/eShopOnWeb/tests/QATestSuite/QATestSuite/src/test/java/eshop/TestAutomation/Test/loginTest.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="C:/Users/MousumiGhosh/Desktop/EshopTestSuite/eShopOnWeb/tests/QATestSuite/QATestSuite/src/test/java/eshop/TestAutomation/Test/SampleTest.java">
        <classes>
            <class name="eshop.TestAutomation.Test.SampleTest">
                <methods>
                    <include name="verifyLogin"/>
                    <include name="verifyLogOut"/>
                    <include name="verifyCatalogListDisplayed"/>
                    <include name="verifyAddToBasket"/>
                    <include name="verifyCheckout"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="C:/Users/MousumiGhosh/Desktop/EshopTestSuite/eShopOnWeb/tests/QATestSuite/QATestSuite/src/test/java/eshop/TestAutomation/Test/SubmitOrderTest.java">
        <classes/>
    </test>
</suite>